body {
  background-color: #FAFCFC;
  font-family: Arial, sans-serif;
  margin: 50px;  
}
h1 {
  text-align: center;
  color: #222f65;
  width: 80%;
  margin: 0 auto;
  text-transform: uppercase;
  font-weight: bold;
}
.sub1 {
  font-size: 25px;
  color: #222f65;
  text-align: center;
  margin-top: 20px;
}
.filtros select {
font-size: 20px;
color: #222f65;
font-weight: 500;
padding: 10px;
border: 1px solid #cfd8dc;
border-radius: 6px;
background-color: #ffffff;
}

/* ===== TABELA ===== */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  font-family: Arial, sans-serif;
  background: #fff;
}

/* Cabeçalho */
thead {
  background-color: #2f5d8a;
  color: white;
}

th {
  padding: 12px;
  text-align: left;
  font-weight: bold;
  border: 1px solid #ddd;
}

/* Linhas */
td {
  padding: 10px;
  border: 1px solid #ddd;
}

/* Linhas alternadas */
tbody tr:nth-child(even) {
  background-color: #f5f7fa;
}

/* Hover na linha */
tbody tr:hover {
  background-color: #DFDFD7;
  transition: 0.2s;
}

/* Bordas gerais mais suaves */
table, th, td {
  border-color: #cfd8dc;
}

